#nalog {
    color: black;
  }
  
  #korpa {
    color: black;
  }
  
  #error404 {
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    padding-left: 15px;
    color: rgb(177, 39, 39);
  }
  
  
  #meni {
    color: black;
  }
  app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    --background: #f4f5f8;
    margin-top: 15px;
  }
  