<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar></ion-toolbar>
    <ion-toolbar>
      <ion-title size="large" id="istorijaPorudzbina">Istorija porudzbina</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list id="lista">
    <ng-container *ngIf="porudzbine.length === 0">
      <ion-item>
        <ion-label>
          <h2>Nema porudžbina za prikaz</h2>
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-container *ngFor="let status of groupedPorudzbine | keyvalue">
      <ion-item-divider color="light">{{ status.key }}</ion-item-divider>
        <ion-item *ngFor="let porudzbina of status.value" (click)="prikaziDetalje(porudzbina)">
        <ion-label>
          <div id="datumIKanta">
          <h2>{{  formatDatum(porudzbina.datum) }}</h2>
          <ion-icon name="trash-outline" slot="end" id="trash" *ngIf="porudzbina.status === 'u obradi'" (click)="obrisiPorudzbinu(porudzbina, $event)"></ion-icon>
          </div>
            <p>Status: {{ porudzbina.status }}</p>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-modal [isOpen]="!!selectedPorudzbina" (didDismiss)="dismissModal()">
    <ng-container *ngIf="selectedPorudzbina">
      <ion-header>
        <ion-toolbar>
          <ion-title>Detalji porudzbine</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Zatvori</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list *ngIf="selectedPorudzbina?.stavke">
          <ion-item *ngFor="let stavka of selectedPorudzbina.stavke">
            <ion-thumbnail slot="start" *ngIf="stavka?.imageUrl">
              <img [src]="formatImageUrl(stavka.imageUrl)">
            </ion-thumbnail>
            <ion-label>
              <h2>{{ stavka.proizvodName }}</h2>
              <p>Cena: {{ stavka.price }} din</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-container>
  </ion-modal>
</ion-content>