#istorijaPorudzbina{
    font-size: 22px;
    font-weight: 100;
    justify-content: flex-start;
    display: flex;
    padding-top: 10px;
    font-family: serif;
}

#datumIKanta{
    display: flex;
}

#trash{
      margin-left: auto;
      font-size: x-large;
  }

@media (min-width: 500px) {
    ion-content.istorija-porudzbina-strana{
        --padding-top: 55px;
    }
}