#nalog {
  color: black;
}

#korpa {
  color: black;
}

#naslov{
  padding-top: 50px;
}


#meni {
  color: black;
}  

.carousel-container {
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 600px;
  margin: auto;
}


.active {
  flex: 0 0 100%;
}

.slide.active {
  display: block;
}


.dugmeProdavnica {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: 
  rgb(177, 39, 39);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  margin: auto; /* da bi bilo centrirano */
  width: 120px; /* Dodali smo fiksnu širinu */
  margin: 5px; 
}

.dugmici{
  display: flex;
  justify-content: center;
}

.izdvajamo{
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  display: flex;
  padding-top: 20px;
  font-family: serif;
}
// .naslov{
//   font-size: 25px;
//   background-color: white;
// }

.besplatna-dostava {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.besplatna-dostava img {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}

#besplatnaDOstava {
  font-size: 18px;
  font-weight: bold;
}

#tekstDostava{
  display: flex;
  margin-top: 5px;
}

#slikaPodrske{
  max-width: 80px;
  max-height: 80px;
  margin-bottom: 10px;
}

#tekstZamena{
  margin-bottom: 50px;
}

.blede-linije {
  border-top: 1px solid #f0f0f0;
  margin: 20px 0;
}

// #slikaNaslovna{
//   width: 120%;
//   height: 18%;
//   background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
// }

.image-container {
  position: relative;
}

#slikaNaslovna {
  display: block;
  width: 100%;
  height: auto;
}

.image-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px; /* Visina gradijenta - prilagodite po želji */
  background: linear-gradient(to bottom, rgba(240, 7, 7, 0) 0%, rgb(255, 255, 255) 100%);
}
