#nalog {
  color: black;
}

#korpa {
  color: black;
}

#naslov{
  padding-top: 50px;
}


#meni {
  color: black;
}  

.carousel-container {
  display: flex; /* Koristimo flexbox kako bismo postavili slajdove jedan pored drugog */
  overflow: hidden; /* Skrivamo sadržaj koji je van granica kontejnera */
  position: relative; /* Dodajemo relativan položaj kako bismo mogli koristiti apsolutan položaj za kontrolne dugmadi */
}

.slide {
  flex: 0 0 100%; /* Postavljamo širinu svakog slajda na 100% širine kontejnera */
  transition: transform 0.5s ease; /* Dodajemo animaciju prelaska */
  width: 100%;
  display: none;
}


.active {
  flex: 0 0 100%; /* Aktivni slajd zauzima 100% širine */
}

.slide.active {
  display: block;
}


.dugmeProdavnica {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: 
  rgb(177, 39, 39);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  margin: auto; /* da bi bilo centrirano */
  width: 120px; /* Dodali smo fiksnu širinu */
  margin: 5px; 
}

.dugmici{
  display: flex;
  justify-content: center;
}

.izdvajamo{
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  display: flex;
  padding-top: 20px;
  font-family: serif;
}
// .naslov{
//   font-size: 25px;
//   background-color: white;
// }

.besplatna-dostava {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.besplatna-dostava img {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}

#besplatnaDOstava {
  font-size: 18px;
  font-weight: bold;
}

#tekstDostava{
  display: flex;
  margin-top: 5px;
}

#slikaPodrske{
  max-width: 80px;
  max-height: 80px;
  margin-bottom: 10px;
}

#tekstZamena{
  margin-bottom: 50px;
}

.blede-linije {
  border-top: 1px solid #f0f0f0;
  margin: 20px 0;
}

#slikaNaslovna{
  width: 120%;
  height: 18%;
}