// #ionContent {
//   --background: #f0efeff0;
// }

#gonjiDeo{
  padding-top: 60px;
}

ion-grid {
  margin-bottom: 30px;
}

#red {  
  margin-top: 10px;
}

#kartica {
  margin-top: -5px;
}

#nazivProizvoda {
  font-family: serif;
  font-size: 20px;
  margin-bottom: -10px; 
  margin-top: -10px;
}

#opisProizvoda {
  margin-bottom: -5px;
}
