#gonjiDeo{
  padding-top: 60px;
}

ion-grid {
  margin-bottom: 30px;
}

#red {  
  margin-top: 10px;
  margin-bottom: 20px;
}

#kartica {
  margin-top: -5px;
  // height: 243px;
  height: 100%;
}

#nazivProizvoda {
  font-family: serif;
  font-size: 20px;
  margin-bottom: -10px; 
  margin-top: -20px;
  padding-top: -40px;
}


