// #ionContent {
//   --background: #f0efeff0;
// }

#folder {
  font-family: serif;
  font-weight: 500;
  padding-top: 20px;
}

#nalog {
  color: black;
}

#korpa {
  color: black;
}

#error404 {
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  padding-left: 15px;
  color: rgb(177, 39, 39);
}

#meni {
  color: black;
}

app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  --background: #f4f5f8;
  margin-top: 15px;
}

ion-grid {
  margin-bottom: 30px;
}

#red {  
  margin-top: 10px;
}

#kartica {
  margin-top: -5px;
}

#nazivProizvoda {
  font-family: serif;
  font-size: 20px;
  margin-bottom: -10px; 
  margin-top: -10px;
}

#opisProizvoda {
  margin-bottom: -5px;
}
