<ion-content [fullscreen]="true" id="ionContent">
  <ion-header collapse="condense">
    <ion-toolbar id="gonjiDeo">
      <ion-title size="large" id="folder">{{ folder }}</ion-title>
   
      <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>


    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row id="red">
      <ion-col size="6" *ngFor="let product of filteredProducts" class="kolona">
        <ion-card id="kartica" (click)="redirectedToProduct(product)">
          <ion-img [src]="product.imageUrl"></ion-img>
          <ion-card-header >
            <ion-card-title id="nazivProizvoda">{{ product.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <!-- <p id="opisProizvoda">{{ product.description }}</p> -->
            <p id="opisProizvoda">unisize</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
