<!-- Uklonite [fullscreen]="false" i dodajte scrollY="true" -->
<ion-content scrollY="true">
  <ion-toolbar>
    <ion-icon name="chevron-back-outline" (click)="goBack()" id="strelica"></ion-icon>
    <ion-title id="naslov">{{product?.name}}</ion-title>
  </ion-toolbar>

  <ion-img
    [src]="product?.imageUrl"
    alt="LAGANO">
  </ion-img>

  <div id="korpa">
    <button (click)="dodajUKorpu()" [class.clicked]="clicked">
      Dodaj u korpu
    </button>
  </div>
  
  <ion-label id="infoProizvod">
    Informacije o proizvodu
  </ion-label>
  
  <ion-label id="cena">
   {{product?.price}} din
  </ion-label>

  <ion-label id="opisProizvoda">
   {{product?.description}}
  </ion-label>

  <ion-label id="infoProizvod">
    Dostava
  </ion-label>

  <ion-label id="Dostava">
    Vreme isporuke zavisi od izabranog tipa isporuke.<br>
    <div id="tackice">
      <span class="opis"> Tipovi isporuke (Procenjeno vreme čekanja):</span><br>
      <span class="opis">* Standardna isporuka (2-5 radnih dana)</span><br>
      <span class="opis">* Prioritetna isporuka (2-3 radna dana) + 200 RSD</span><br>
      <span class="opis">* Odložena isporuka (5+ radnih dana)</span>
    </div>
  </ion-label>

  <ion-label id="infoProizvod">
    Recenzije
  </ion-label>

  <div *ngIf="recenzije.length > 0; else nemaRecenzija" id="recenzije-container">
    <ion-list>
      <ion-item *ngFor="let rec of recenzije">
        <div *ngIf="rec.slika" slot="start" class="recenzija-slika-wrapper">
          <img [src]="rec.slika" alt="Slika iz recenzije" class="recenzija-slika">
        </div>
        <ion-label>
          <p>{{ rec.tekst }}</p>
          <small>{{ rec.datum | date:'dd.MM.yyyy' }}</small>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #nemaRecenzija>
    <p id="nema-recenzija">Nema recenzija za ovaj proizvod.</p>
  </ng-template>

  <!-- Dodajte padding-bottom da osigurate da se sve vidi -->
  <div style="height: 50px;"></div>

</ion-content>