
  <ion-content [fullscreen]="true">
      <ion-toolbar>
        <ion-icon name="chevron-back-outline" (click)="goBack()" id="strelica"></ion-icon>
        <ion-title id="naslov">{{product?.name}}</ion-title>
      </ion-toolbar>
    
    <ion-content>
      <ion-img
      [src]="product?.imageUrl"
      alt="LAGANO">
    </ion-img>

    
    <ion-label id="infoProizvod">
      Informacije o proizvodu
    </ion-label>
    
    <ion-label id="cena">
     {{product?.price}}
    </ion-label>
    
      <ion-label id="opisProizvoda">
       {{product?.description}}
      </ion-label>

      <div id="korpa">
        <button (click)="dodajUKorpu()" [class.clicked]="clicked">
          Dodaj u korpu
        </button>
      </div>

    </ion-content>
  </ion-content>
  
