<ion-content>

  <div id="sadrzaj">
    <ion-label>
     Da li je ovo tvoja prva poseta?
    </ion-label>
  </div>
  
  <ion-list>

    <ion-item>
      <ion-input label="Ime" type="text" placeholder="Pera" [(ngModel)]="korisnik.ime"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Prezime" type="text" placeholder="Perić" [(ngModel)]="korisnik.prezime"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Adresa" type="text" placeholder="Jove Ilića 154" [(ngModel)]="korisnik.adresa"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Email" type="email" placeholder="pera@gmail.com" [(ngModel)]="korisnik.email"></ion-input>
    </ion-item>
        
    <ion-item>
      <ion-input label="Lozinka" type="password" placeholder="lozinka123" [(ngModel)]="korisnik.lozinka"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Broj telefona" type="number" placeholder="0651234565" [(ngModel)]="korisnik.brojTelefona"></ion-input>
    </ion-item>
    
    <ion-button id="dugmeUlogujSe" (click)="registrujSe()">
      Registruj se
    </ion-button>

    <div id="KreiranjeNaloga">
      <ion-label>
        Imate nalog?
      </ion-label>
      <ion-label style="font-weight: bold" (click)="preusmeriNaPrijavu()">
        Prijavite se!
      </ion-label>
    </div>
      
  </ion-list>
</ion-content>
