
<ion-content>

<div id="sadrzaj">
  <ion-label>
   Već ste korisnik?
  </ion-label>
</div>

  <ion-list>
    <ion-list>
    
      <ion-item>
        <ion-input label="Email" type="email" placeholder="pera@gmail.com"></ion-input>
      </ion-item>
      
      <ion-item id="password">
        <ion-input label="Password" type="password" value="password"></ion-input>
      </ion-item>
  
      <ion-button id="dugmeUlogujSe" >
        Uloguj se
      </ion-button>

      <div id="KreiranjeNaloga">
        <ion-label>
          Nemate nalog?
        </ion-label>
        <ion-label style="font-weight: bold" (click)="redirectedToRegister()">
          Kreirajte ga!
        </ion-label>
      </div>
        
    </ion-list>
  </ion-list>
  
</ion-content>